#search{
  color: #fff;
  line-height: 44px;
  text-decoration: none;
}


.header .search-form{
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translatX(0);
  width: 600px;
  height: 44%px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.header .search-form.active{
 opacity: 1;
  visibility: visible;

}

.header .search-form input{

  width: 100%;
  height: 44px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  right: 100px;
  
}

.header .search-form:before
{
content: '\f002';
position: absolute;
bottom: 12px;
right: -200px;
font-size: 18px;
color: #fff;
font-family: fontAwesome;
}
/*
.close{ 
position: absolute;
left: 300px;
bottom: 0px;
height: 50px;
background: #000;
color: #fff;
Line-height: 44px;
font-size: 18px;
text-align: left;
width: 20px;
cursor: pointer;
opacity: 0;
visibility: hidden;
}
.close.active{
  opacity: 1;
  visibility: visible;
}